<div class="main-schedule" id="templateStting">
    <div class="card">
        <span class="delete-btn">−</span> 
        <div class="date">
            <h3 class="day">Lunes</h3>
            <p class="time-start">8:00</p>
            <p class="time-end">12:00</p>
        </div>
        <div class="description">
            <h2 class="title">OSDE</h2>
            <p class="remarks">osde patients</p>
        </div>      
    </div> 
    <div class="card">
        <span class="delete-btn">−</span> 
        <div class="date">
            <h3 class="day">Lunes</h3>
            <p class="time-start">13:00</p>
            <p class="time-end">14:00</p>
        </div>
        <div class="description">
            <h2 class="title">PAMI</h2>
            <p class="remarks">pami patients</p>
        </div>      
    </div> 
</div>
<div class="main-small">
    <h3>Semana</h3>
    <ul class="small">
        <li>Lunes</li>
        <li>Martes</li>
        <li>Miércoles</li>
        <li>Jueves</li>
        <li>Viernes</li>
        <li>Sábado</li>
        <li>Domingo</li>
    </ul>
</div>