<div class="header">
    <h1>Perfil</h1>
</div>
<!---728x90--->

<div class="content">
    <div class="content1"> 
        <div class="content1-1">
            <img src="img/avatar_medic.jpeg" width="150" alt="bossman">
        </div>
        <div class="content1-2">
            <div class="contentinfo1">
                <h1 id="nombreUserProfile">José Baez</h1>
                <p><a href="mailto:example@mail.com" id="emailUserProfile">example@mail.com</a></p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content2">
        <a href="javascript:// "target="_blank">
            <div class="content2-1">
                <fieldset style="background-color:#507cbe;border:none;">
                    <legend></legend>
                    <div class="contentinfo2">
                        <h2>554</h2>
                        <p>Turnos</p>
                    </div>
                </fieldset>
            </div>
        </a>
        <a href="javascript://" target="_blank">
            <div class="content2-2">
                <fieldset style="background-color:#00c4ff;border:none;">
                    <legend></legend>
                    <div class="contentinfo2">
                        <h2>$45.979</h2>
                        <p>Facturación</p>
                    </div>
                </fieldset>
            </div>
        </a>
        <a href="javascript://" target="_blank">
            <div class="content2-3">
                <fieldset style="background-color:#007bb6;border:none;">
                    <legend></legend>
                    <div class="contentinfo2">
                        <h2>6</h2>        
                        <p>Grilas</p>
                    </div>
                </fieldset>
            </div>
        </a>
        <div class="clear"></div>
    </div>
</div>
<!---728x90--->